body {
    font-family: 'Raleway', sans-serif;
}
#main_banner {
   background-color: black;
   height: 400px;
}

.single_banner_text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 400px;
    padding-top: 50px;
    margin: 0 auto;
    color: white;
}

.main_name {
    font-size: 50px;
}

#portfolio_title {
    text-align: center;
    margin-bottom: 20px;
}

#about_banner {
    padding-top: 25px;
    margin-bottom: 50px;
    height: 400px;
}

#skills_banner {
    margin-bottom: 50px;
    height: 400px;
}

.projects_title {
    text-align: center;
}

.project_images {
    max-width: 50%;
}

img {
    border:1px solid #021a40;
}

#project_banner {
    margin-bottom: 50px;
    height: 400px;
}

.contact_title {
    text-align: center;
}

#contact_banner {
    height: 400px;
}

.fa-github {
    color: black;
}