body {
    font-family: 'Raleway', sans-serif;
}
#main_banner {
   background-image: url('../image/computer2.jpg');
   height: 500px;
   width: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: 5px;
}

.single_banner_text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding-top: 50px;
    margin: 0 auto;
    color: white;
    margin-top: 85px;
}

.main_name {
    font-size: 80px;
    text-align: center;
}

#portfolio_title {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    max-width: 100%;
    max-height: 100%;
}

#about_banner {
    padding-top: 25px;
    margin-bottom: 50px;
    height: 100%;
}

#skills_banner {
    margin-bottom: 50px;
    height: 100%;
}

.projects_title {
    text-align: center;
}

.project_images {
    max-width: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img {
    border:1px solid #021a40;
}

#project_banner {
    margin-bottom: 50px;
}

.contact_title {
    text-align: center;
}

#contact_banner {
    height: 400px;
}

.fa-github {
    color: black;
}

.footer{
    margin-top: 25px;
    padding-left: 30px;
}
